/* grand-hotel-regular - latin */
@font-face {
  font-family: 'Grand Hotel';
  font-style: normal;
  font-weight: 400;
  src: local('Grand Hotel'), local('GrandHotel-Regular'),
       url('../fonts/grand-hotel-v5-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/grand-hotel-v5-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.main .logo.cursive{
    font-family: 'Grand Hotel',cursive;
    font-size: 72px;

}

.cover.purple {
    background-color: rgba(72, 23, 145, 0.6);
}

.cover.black{
    background-color: rgba(0,0,0,.8);
}
